* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ITC Officina Sans Std Book";
  }
  body {
    background: #f1f3f6;
  }
.mydatatable th{
  text-align: center;
}
.fa-handshake,.fa-user-shield,.fa-hand-holding-heart{
	color: #2ecab6;
}
.fa-info-circle{
	color: black;
	font-size: small;
}
/* popup */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color:#555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
footer {
    color: #fff;
  }
  footer a {
    text-decoration: none;
    color: white;
  }


@media only screen and (max-width: 475px){
  body .title{
    font-size: 2rem;
  }
  .mydatatable{
    font-size: smaller;
  }
}
